@import url(http://fonts.googleapis.com/css?family=Oswald);

h1, h2, h3, h4, h5, h6, .title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8 {
    font-family: 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    letter-spacing: 1px;
}



html, body, #Body {
    margin: 0px;
    height: 100%;
    padding: 0px;
    font: normal 12px/1.5 Arial;
    color: #535050;
    background: white !important;
}

p {
    margin: 0px 0px 8px 0px;
}

header, nav, section, footer {
    display: block;
}

TH, TD, DIV {
}

A,
A:link {
    text-decoration: none;
}

    A:active {
        text-decoration: none;
    }

    A:visited {
        text-decoration: none;
    }

    A:hover {
        text-decoration: underline;
    }

h1 {
    font: normal 24px/28px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    color: #7aa8e0;
    margin: 5px 0 10px 0;
}

h2 {
    font: normal 20px/24px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    margin: 5px 0 10px 0;
}

h3 {
    font: normal 16px/20px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    color: #7aa8e0;
    margin: 5px 0 10px 0;
}

h4 {
    font: normal 14px/18px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    color: #000;
    margin: 5px 0 10px 0;
}

h5 {
    font: normal 14px/18px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    color: #000;
    margin: 5px 0 10px 0;
}

h6 {
    font: bold 11px/16px 'Oswald',"Trebuchet MS", "Myriad Web Pro", arial, serif;
    color: #000;
    margin: 5px 0 10px 0;
}

html{height: auto;}