#headerContent {
	margin-right: 10px;
	position:relative;
}

#header #logoHeader {
    float: left;
}

#header #toplinks {
    text-align: right;
	color: #5f5f5f;
	padding-top: 10px;
}

#header #toplinks div, #header #toplinks  span, #header #toplinks input  {
    display:inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
	vertical-align: middle;
	height: 27px;
	line-height: 27px;
}

#header #toplinks .needMargin  {
	margin-left: 1em;
}

#header #SearchContainer input {
	-webkit-border-radius: .5em 0 0 .5em;
    -moz-border-radius: .5em 0 0 .5em;
    border-radius: .5em 0 0 .5em;
	border-style: none;
	margin: 0px;
	color: #b3b3b3;
	font-family: 'OpenSansItalic';
	padding-left: 8px;
	width: 150px;
}

#header #SearchContainer #SearchSubmit {
	-webkit-border-radius: 0 .5em .5em 0;
    -moz-border-radius: 0 .5em .5em 0;
    border-radius: 0 .5em .5em 0;

	border-style: none;
	background-color: #3A8BC2;
	margin: 0 0 0 -6px;
	width: 31px;
	background:#3A8BC2 url('../images/loupe.png') no-repeat center center;
}

#header .minicart_icon {
	width: 16px;    
	background: url('../images/cart.png') no-repeat center center;
    margin-right: .3em;
}