<style type="text/css">
    img.Agape_Story_picturebox {
    width: 100% !important;
    }
    .typeFont {
    color: #AAA;
    margin: 20px 0 10px 0;
    }
    .typeFont span {
    position: relative;
    top: 4px;
    }
    .storyTitle {
    
    }
    .agendaTitle {
   
    margin-bottom: 20px
    }
    .eventDay {
    color: #3A8BC2;
    position: absolute; width: 29px; text-align: center; margin-top: 8px; font-weight: bold;
    }
    .eventMonth {
    position: absolute; width: 29px; text-align: center; margin-top: 31px; color: #AAA ; letter-spacing: -1px;
    }
    .eventTitle {
    
    }
    .eventSample {
    
    }
    .calImage {
    float: left;
    }
    .eventDiv {
    margin-bottom: 20px;
    border-bottom:  #CCC solid 1px;
    padding-bottom: 20px;
    margin-right: 25px;
    min-height: 50px;
    }
</style>
<table style="width: 100%;">
    <colgroup>
    <col />
    <col />
    </colgroup>
    <tbody>
        <tr valign="top">
            <td style="vertical-align: top;">
            <div style="width: 300px;">
            [LANGUAGES]
            [AGENDA]
            [RELATEDARTICLES]
            [SUPERPOWERS]
            </div>
            </td>
            <td width="100%">
            <div style="margin-right: 0px; margin-left: 0px; padding-left: 0px;">
            <div class="Agape_Story_storymain" style="width: 100%;">
            <img src="[IMAGEURL]" alt="Story Image" class="Agape_Story_picturebox" />
            <div class="typeFont">
            <img src="[TYPEICON]" alt="Story Image" class="TypeIcon" />&nbsp;&nbsp;
            <span>[TYPENAME]&nbsp; &nbsp;
            [DATE]</span>
            </div>
            <h1>
            [HEADLINE]
            </h1>
            <div class="Agape_FullStory_bodytext" style="padding-right: 12px; margin-bottom: 10px;">
            <span style="font-size: small;">[STORYTEXT] </span>
            <br />
            </div>
            </div>
            <div style="clear: both;"></div>
            </div>
            </td>
        </tr>
    </tbody>
</table>