<div class="StoreDetailContainer">
  <div class="StoreDetailContainer-Title">[DETAILTITLE]</div>
  <div class="StoreDetailContainer-Warning">[CARTWARNING]</div>
  <div class="StoreDetailContainer-Content">
    <p class="Normal">[CATEGORYNAME] - [MANUFACTURER]</p>
    <p class="Normal">[MODELNUMBER]</p>
    <p class="Normal">[EDIT][MODELNAME]</p>
    <div class="Normal">[IMAGE][DESCRIPTION]</div>
    <p class="Normal StoreClear">[PRICE]</p>
    <p class="Normal">[ADDQUANTITY]</p>
    <p>[ADDTOCARTIMG][PURCHASEIMG]</p>
  </div>
</div>
