<div class="StoreDetailContainer">
  <div class="StoreDetailContainer-Title">[DETAILTITLE]</div>
  <div class="StoreDetailContainer-Content">
    <p class="Normal">[CATEGORYNAME] - [MANUFACTURER]</p>
    <p class="Normal">[MODELNUMBER]</p>
    <p class="Normal">[EDIT][MODELNAME]</p>
    <p class="Normal">[IMAGE][DESCRIPTION]</p>
    <p class="Normal StoreClear"></p>
    <hr />
    <p class="Normal">[HEIGHT]</p>
    <p class="Normal">[LENGTH]</p>
    <p class="Normal">[WIDTH]</p>
    <p class="Normal">[DIMENSIONS]</p>
    <p class="Normal">[SURFACE]</p>
    <p class="Normal">[VOLUME]</p>
    <p class="Normal">[WEIGHT]</p>
    <hr />
    <p class="Normal">[PRICE]</p>
    <p class="Normal">[VATPRICE]</p>
    <p class="Normal">[STOCKQUANTITY]</p>
    <p class="Normal">[ADDQUANTITY]</p>
    <p>[ADDTOCARTIMG][PURCHASEIMG]</p>
  </div>
</div>
