/*===================== FONTS ===================== */
@import url("./css/font.css");

h1, h2, h3, h4, h5, h6 {
    display: block;
    color: #3A8BC2;
    font-weight: normal;
	font-family: OpenSansRegular;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 28px;
    line-height: 54px;
    letter-spacing: -0.03em;
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    margin-top: 8px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-top: 8px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
}

h5 {
    font-size: 16px;
    line-height: 18px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

.bleu {
    color: #3A8BC2;
}