/*========================== BANNER =======================*/

#bannerbar {
    background: url('images/Dons-Banner-Shadow.png') repeat-x bottom #d7edf6;
}

.BannerPane {
    
}

.BannerPane .c_contentpane {
    padding: 0;
}

.BannerPane .DNNModuleContent {
    height: 290px;
    line-height: 290px;
}

.BannerPane .Normal {
    text-align: center;
}

.BannerPane img {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: middle;
}

/*========================== CONTENT CONTAINER =======================*/
#ContentContainer {
    text-align: left;
}

#ContentContainer .DNNModuleContent .Normal, #ContentContainer .DNNModuleContent .Normal a:link, #ContentContainer .DNNModuleContent .Normal a:active, #ContentContainer .DNNModuleContent .Normal a:visited, #ContentContainer .DNNModuleContent .Normal a:hover {
    text-align: left;
    font-size: 14px;
}

/*========================== TOP PANE =======================*/

.TopPane .c_contentpane {
    padding: 20px 0 0 0;
}

.TopPane .Normal p {
    margin: 0;
}

.TopPane .Normal h1 {
    margin-bottom: 5px;
    font-size: 28px;
}

/*========================== LEFT MENU =======================*/

.LeftMenu {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    margin-right: 15px;
    width: 233px;
    text-align: left;
}

.LeftMenuPane {

}

.LeftMenu #TopImg {
    height: 32px;
    line-height: 32px;
    background: url('images/Dons-LeftMenu-Top.png') no-repeat;
}

.LeftMenu #BottomImg {
    height: 48px;
    line-height: 48px;
    background: url('images/Dons-LeftMenu-Bottom.png') no-repeat;
}

.LeftMenuPane .c_contentpane {
    padding: 0px;
    margin: 0px;
}

.LeftMenuPane .DNNModuleContent a, .LeftMenuPane .DNNModuleContent div.selected {
    height: 101px;
    line-height: 101px;
    display: block;
    overflow: hidden;
    border-bottom: 1px white solid;
}

.LeftMenuPane .DNNModuleContent div.selected div, .LeftMenuPane .DNNModuleContent a div {
    vertical-align: middle;
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    padding: 0 30px 0 15px;
}

.LeftMenuPane .DNNModuleContent h1, .LeftMenuPane .DNNModuleContent h2 {
    line-height: normal;
    margin: 0;
}

.LeftMenuPane .DNNModuleContent h1 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    padding-bottom: 5px;
    color: #3a8bc1;
}

.LeftMenuPane .DNNModuleContent h2 {
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
    color: #727272;
}

.LeftMenuPane .DNNModuleContent a:hover {
    text-decoration: none;
}

.LeftMenuPane .DNNModuleContent a:hover h1 {
    text-decoration: underline;
}

 .LeftMenuPane .DNNModuleContent div.selected {
    background: url('images/Dons-LeftMenu-Selected.png') no-repeat;
}

.LeftMenuPane .DNNModuleContent a {
    background: url('images/Dons-LeftMenu-NotSelected.png') no-repeat #c9c9c9;
}

 .LeftMenuPane .DNNModuleContent div.selected h1 {
    color: white;
}

.LeftMenuPane .DNNModuleContent div.selected h2 {
    color: #90cef8;
}


/*========================== MAIN CENTER PANE =======================*/

.CenterPane {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    width: 724px;
    background-color: #f2f2f2;
    margin-top: 32px;
}

.CenterPane .c_contentpane {
    padding: 15px;
}

.ongletsdon span, .ongletsdon a {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    padding: 8px;
}

.ongletsdon a, .ongletsdon a:active, .ongletsdon a:visited, .ongletsdon a:hover {
    color: #3A8BC2;
}

.ongletsdon {
    border-bottom: 1px #c7c7c7 solid;
}

.ongletsdon span.selected {
    color: white;
    background: url('images/BlueTab.png') repeat-x #3784cd;
}

.CenterPane .Normal h1 {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.CenterPane .Normal p {
    margin: 0;
}

/*========================== BOTTOM PANE =======================*/

.BottomPane {
    background-color: #f2f2f2;
    text-align: left;
    margin-top: 20px;
}

.BottomPane .Normal h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.BottomPane .Normal p {
    background-color: #f2f2f2;
    margin: 0;
}

.BottomPane .Normal p.videos {
    margin: 20px 0 0 0;
    text-align: center;
}

.BottomPane .videos iframe.centerframe {
    padding: 0 10px 0 10px;
}

