/*===================== RESET CSS ===================== */
@import url("./css/reset.css");

/*===================== FONTS ===================== */
@import url("./css/font.css");

/*===================== HORIZONTAL BARS ===================== */
@import url("./css/bars.css");

/*===================== HEADER ===================== */
@import url("./css/header.css");

/*===================== MENUS ===================== */
@import url("./css/menus.css");

/*===================== FOOTER ===================== */
@import url("./css/footer.css");

/*===================== TYPOGRAPHY ===================== */
@import url("/Portals/_default/Skins/AgapeFR/css/typography.css");

/*===================== JQUERY-UI ===================== */
@import url("./FranceUI/jquery-ui-1.10.3.custom.css");
@import url("./JqueryUIFix.css");

/*===================== PAGE GLOBALS ===================== */

* {
    margin: 0;
    padding: 0;
}

html, body, form {
    height: 100%;
    min-width: 975px;
	background: white;
}

body, .Normal, a:link, a:active, a:visited, a:hover {
	font-size: 12px;
    font-weight: normal;
	font-family: OpenSansRegular;
	color: #5f5f5f;
    -webkit-text-size-adjust: 100%; /*Prevent iPhone Text Enlargement*/
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
