/*===================== FONTS ===================== */
@import url("./css/font.css");

/*===================== HORIZONTAL BARS ===================== */
@import url("./css/bars.css");

/*===================== HEADER ===================== */
@import url("./css/header.css");

/*===================== MENUS ===================== */
@import url("./css/menus.css");

/*===================== FOOTER ===================== */
@import url("./css/footer.css");

/*===================== PAGE GLOBALS ===================== */

* {
    margin: 0;
    padding: 0;
}

html, body, form {
    height: 100%;
    min-width: 975px;
	background: white;
}

body, .Normal, a:link, a:active, a:visited, a:hover {
	font-size: 12px;
    font-weight: normal;
	font-family: OpenSansRegular;
	color: #5f5f5f;
    -webkit-text-size-adjust: 100%; /*Prevent iPhone Text Enlargement*/
}

.clear_float {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

.debug {
    border: solid 1px red;
    background-color: yellow;
}

.bleu {
    color: #3A8BC2;
}
