/*===================== RESET CSS ===================== */
@import url("./css/reset.css");

/*===================== FONTS ===================== */
@import url("./css/font.css");

/*===================== TYPOGRAPHY ===================== */
@import url("/Portals/_default/Skins/AgapeFR/css/typography.css");

/*===================== HORIZONTAL BARS ===================== */
@import url("./css/bars.css");

/*===================== HEADER ===================== */
@import url("./css/header.css");

/*===================== MENUS ===================== */
@import url("./css/menus.css");

/*===================== FOOTER ===================== */
@import url("./css/footer.css");

/*===================== JQUERY-UI ===================== */
@import url("./FranceUI/jquery-ui-1.10.3.custom.css");
@import url("./JqueryUIFix.css");

/*===================== PAGE GLOBALS ===================== */

html, body, form {
    height: 100%;
    min-width: 975px;
	background: white;
}



