
@import url("skinPopup.css");
/*########## PortalCSS ################*/

* {
    margin: 0;
    padding: 0;
}

#searchContainer, #seachContainer span, #searchContainer span .NormalTextBox {
    vertical-align: top;
}

.ui-accordion .ui-accordion-content {
    padding-right: 3px;
    padding-left: 3px;
}

a.dnnFormHelp span {
    margin-right: 20px!important;
}

.RadTreeView {
    text-align: left;
}

/*############## Menu Style ###############*/
/* main menu td */
.main_dnnmenu_bar {
    cursor: pointer;
    font-size: 12px;
    width: 970px;
    z-index: 1000;
    height: 34px;
}

/*  Main Menu Normal  */
.main_dnnmenu_rootitem {
    color: #FFF;
    padding: 9px 7px 9px 7px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 1000;
    height: 34px;
}


/*  Main menu hover  */
.main_dnnmenu_rootitem_hover {
    color: #FFF;
    background-color: #2f88cf;
    padding: 9px 7px 8px 7px;
    font-weight: bold;
    height: 34px;
    white-space: nowrap;
    z-index: 1000;
    border-radius: 10px 10px 0px 0px;
}



/*  Main menu selected  */
.main_dnnmenu_rootitem_selected {
    color: white;
    background-color: #5EB6E4;
    font-weight: bold;
    padding: 9px 7px 8px 7px;
    white-space: nowrap;
    z-index: 1000;
    height: 34px;
    border-radius: 10px 10px 0px 0px;
}

/*  SUB Menu hover & selected */
.Language.selected {
    border: 1px solid white;
}

/*########### DDR Menu CSS ###############*/

.navhor {
    display: inline;
}

    .navhor a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 6px 10px 6px;
    }

        .navhor a:hover {

            background-color: #2f88cf;
            height: 34px;
            white-space: nowrap;
            z-index: 1000;
            border-radius: 10px 10px 0px 0px;
        }

    .navhor li.selected a {
        background-color: #2f88cf;
        border-radius: 10px 10px 0px 0px;
    }

    .navhor li {
        display: inline-block;
    }

/*########### SKIN CSS ###############*/

html, body, form {
    height: 100%;
    min-width: 1050px;
    /*background-image:url(images/rt.png);
    background-repeat: repeat-y;
    background-position: right;*/
}

#wrap {
    min-height: 100%;
    background: url('images/footer_shadow3.png') bottom repeat-x;
}

.clear_float {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

#firstbar {
    height: 86px;
    background-color: #FFF;
}

#header {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
}

#reglogsearch {
    float: right;
    margin-top: 30px;
}

#langcont {
    float: right;
    margin-top: 30px;
}

#minicartContainer {
    float: right;
    margin-top: 30px;
}

#secondbar {
    height: 34px;
    background-color: #005BBB;
    /*background-image:url(images/rtp.png);
    background-position: right;
    background-repeat: no-repeat;*/
}

.topMenu {
    width: 1050px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    padding-top: 10px;
}

#thirdbar {
    height: 34px;
    background-color: #5EB6E4;
    /*background-image:url(images/rtp3.png);
    background-position: right;
    background-repeat: no-repeat;*/
}

#botMenu {
    width: 1050px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    padding-top: 10px;
}

#fourthbar {
    background: url('images/footer_shadow.png') repeat-x;
    padding-bottom: 34px; /* must be same height as the footer */
}

#ContentContainer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#fifthbar {
    height: 34px;
    background-color: #6C6F70;
    position: relative;
    margin-top: -34px;
    clear: both;
}

#footerCentre {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}


/*-------------- Footer Style --------------*/
.footer, a.footer:link, a.footer:active, a.footer:visited, a.footer:hover {
    font-family: Verdana;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
}
