/*========== Default for all containers ==========*/

.c_content {
    clear:none;

}

.c_contentpane {
    padding: 10px;
    margin: 0px;
    text-align:left;
}

.Normal p {
    margin-top:0px;
}

.Normal {
    text-align:justify;
    font-size: 14px;
}

.c_contentpane p {
    background-color: white; /* To disable auto-fit on Android */
}











































































































































































































































































































































































