/*========== Default for all containers ==========*/

.c_contentpane {
    padding: 20px;
    margin: 0px;
    text-align:left;
}

.Normal p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Normal {
    text-align: left;
    font-size: 16px;
}

.Normal a:link, .Normal a:active, .Normal a:visited, .Normal a:hover, ul.dnnActions a.dnnSecondaryAction:hover, ul.dnnActions a.dnnSecondaryAction:visited:hover {
    font-size: 16px;
    color: #3A8BC2;
}

.Normal .dnnActionMenu a:link, .Normal dnnActionMenu a:active, .Normal dnnActionMenu a:visited, .Normal dnnActionMenu a:hover {
    font-size: 12px;
}

.Normal h1 {
    font-size: 20px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
}

.Normal h2 {
    font-size: 18px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
}

.Normal h3 {
    font-size: 16px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
}

.DNNModuleContent .button, .DNNModuleContent a.dnnPrimaryAction, .DNNModuleContent a.dnnPrimaryAction:link, .DNNModuleContent a.dnnPrimaryAction:visited, .DNNModuleContent a.dnnPrimaryAction:hover, .DNNModuleContent a.dnnPrimaryAction:visited:hover, .DNNModuleContent ul.dnnActions a.dnnPrimaryAction:hover, .DNNModuleContent ul.dnnActions a.dnnPrimaryAction:visited:hover {
    height: 42px;
    line-height: 42px;
    background: url('images/BlueButton.png') repeat-x #3784cd;
    display: inline-block;
    padding: 0px 20px 0 20px;
    border: 1px #3784cd solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: OpenSansSemiBold;
    color: white;
    white-space: nowrap;  
    text-transform: uppercase;
    text-shadow: none;
}

.DNNModuleContent .button:hover, .DNNModuleContent a.dnnPrimaryAction:hover, .DNNModuleContent a.dnnPrimaryAction:visited:hover, .DNNModuleContent ul.dnnActions a.dnnPrimaryAction:hover, .DNNModuleContent ul.dnnActions a.dnnPrimaryAction:visited:hover {
    text-decoration: none;
    color: #DBDEE3;
}







































































































































































































































































































































































